.h0 {
  color: red;
}

.h1 {
  color: #ff2a00;
}

.h2 {
  color: #ff5400;
}

.h3 {
  color: #ff7f00;
}

.h4 {
  color: #ffaa00;
}

.h5 {
  color: #ffd400;
}

.h6 {
  color: yellow;
}

.h7 {
  color: #d4ff00;
}

.h8 {
  color: #aaff00;
}

.h9 {
  color: chartreuse;
}

.h10 {
  color: #54ff00;
}

.h11 {
  color: #2aff00;
}

.h12 {
  color: lime;
}

.h13 {
  color: #00ff2a;
}

.h14 {
  color: #00ff55;
}

.h15 {
  color: springgreen;
}

.h16 {
  color: #00ffa9;
}

.h17 {
  color: #00ffd4;
}

.h18 {
  color: aqua;
}

.h19 {
  color: #00d4ff;
}

.h20 {
  color: #00a9ff;
}

.h21 {
  color: #007fff;
}

.h22 {
  color: #0055ff;
}

.h23 {
  color: #002aff;
}

.h24 {
  color: blue;
}

.h25 {
  color: #2a00ff;
}

.h26 {
  color: #5400ff;
}

.h27 {
  color: #7f00ff;
}

.h28 {
  color: #aa00ff;
}

.h29 {
  color: #d400ff;
}

.h30 {
  color: fuchsia;
}

.h31 {
  color: #ff00d4;
}

.h32 {
  color: #ff00aa;
}

.h33 {
  color: #ff007f;
}

.h34 {
  color: #ff0054;
}

.h35 {
  color: #ff002a;
}

.h36 {
  color: red;
}
